<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.BookInfoMapper">
	<!-- 本の登録 -->
	<insert id="bookAdd">
        INSERT INTO book
            (name, synopsis, author, update_date, create_date)
        VALUES
            (#{name}, #{synopsis}, #{author}, CURRENT_TIMESTAMP,  CURRENT_TIMESTAMP)
    </insert>
    
    <!-- 本の一覧 -->
    <select id="bookFindAll" resultType="com.example.entity.BookInfo">
    	SELECT * from book WHERE delete_date IS NULL
    </select>
</mapper>